.contact-details p {
    font-size: 15px;
    font-weight: 500;
}
.contact-details .icon {
    color: rgb(100, 25, 25);
    margin: 0px 10px 0px 0px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form input, .contact-form textarea   {
    border-radius: 0px;
    border: 1px solid rgb(117, 115, 115);
    margin: 15px;
}

.contact-form input:hover, .contact-form textarea:hover  {
    border: 1px solid rgb(100, 25, 25);
}

.contact-button {
    padding: 5px 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 25, 25);
    border: 2px solid rgb(100, 25, 25);
    margin: 0px 15px;
    font-weight: 400;
    transition: all 0.5s linear;
}

.contact-button:hover {
    padding: 5px 15px;
    color: rgb(100, 25, 25);
    background-color: rgb(255, 255, 255);
    margin: 0px 15px 15px;
    font-weight: 400;
}